h1{
  font-family: "Work sans";}
p{font-family: Roboto;
font-weight: 300;}
h3{
  font-family: "Work sans";
}
nav li {
  list-style-type: none;
  display: block;
  position: relative;
  background-color: #ffffff;
  top: 0px;
  left: 20px;
  padding-right: 5px;
  padding-left: 5px;
  font-family: Roboto, Arial, sans-serif;
}
.nav-list {
  color: #ababab;
}
nav a {
  justify-content: right;
  display: inline;
  color: #ababab;
}
nav div {
  display: flex;
  gap: 4 px;
}

.logo {
  position: relative;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 150px;
  left: 150px;
}
.logo-container img {
  width: 50px;
  height: 50px;
}

.hover li:hover {
  color: #00b39b;
  background-color: #ececec;
}
.hover {
  display: none;
  width: max-content;
  position: absolute;
  margin-top: 0px;
  margin-left: -70px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ababab;
}
.dep:hover .hover {
  display: block;
  flex-wrap: wrap;
}
h1 {
  text-align: center;

  color: #00b39b;
}

.nav-li:hover {
  color: #00b39b;
}
.p1 {
  width: 50%;
  margin-right: 2.5%;
  margin-left: 10%;
}
.p2 {
  width: 50%;
  margin-left: 2.5%;
  margin-right: 10%;
}
.parag {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  color: #747474;
  display: flex;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  font-variant: normal;
}
.parag ::selection {
  color: #00b39b;
}

.sticker1 {
  width: 33%;
  background-color: #00ccb1;
  margin-left: 20px;
  border-radius: 15px;
}
.sticker2 {
  width: 33%;
  background-color: #3d83df;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px;
}
.sticker3 {
  background: #1b2734;
  width: 33%;
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 15px;
}
.stickers {
  display: flex;
}

.stickers h1,
h2 {
  color: #ffffff;
}
.stickers h1 {
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
}
.stickers h2 {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}
.navigation {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #ffffff;
  box-shadow: #ababab;
}
div.nav-list {
  display: flex;
justify-content: end;

top: 7px;
 
  position: absolute;
  right: 150px;
  font-weight: 300;
  font-family: Roboto;
  font-size: 16px;

  
}
div.container {

margin-left: 150px;
  margin-right: 150px;
  padding-left: 0%;
  padding-right: 0%;
  
}
.header h1 {
  font-family: "Work sans";
  font-size: 34px;
}
.header h2 {
  font-family: "Work sans";
  font-size: 16px;
  font-weight: 300;
}
.hover-patients {
  display: none;
  background-color: #ffffff;
  font-size: small;
  color: #747474;
}

ul,
li {
  list-style-type: none;
}

.country-choose:hover .hover-patients {
  display: block;
}
.country-select1,
.country-select2,
.country-select3,
.country-select4 {
  display: inline;
  width: max-content;
  background-color: transparent;
  border: transparent;
  bottom: 2px;
}
.country-select1 {
  opacity: 90%;
  color: #ffffff;
  display: flex;
  bottom: 5px;
}
.country-select2 {
  opacity: 90%;
  color: #ffffff;
  display: flex;
  bottom: 5px;
}
.country-select3 {
  opacity: 90%;
  color: #ffffff;
  display: flex;
 
}
.country-select4 {
  opacity: 90%;
  color: #ffffff;
  display: flex;
  bottom: 5px;
}
#sticker1,
#sticker2,
#sticker3 {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 5%;
  margin-left: 5%;
  height: max-content;
}
div.stickers {
  margin-left: 130px;
  margin-right: 130px;
  font-weight: 300;
}
h2,
h1.stickers,
.section3 {
  font-weight: 300;
  font-family: "Work sans";
}
nav {
  box-shadow: 5px black;
  position: relative;
  left: 0px;
}
.all-nav{
  position: sticky;
  box-shadow: #1b2734 5px;
  margin-top: 10px;
}
.cont {
  color: #1b2734;
}
#small-title {
  height: 101.41px;
  width: 321.74px;
  position: absolute;
text-align: left;
margin-right: 100px;
}
.section3 {
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  margin-top: 100px;
}
table.logos{
  margin-left: 350px;
  

}

.logos {
  display: flexbox;
  flex-wrap: wrap;
  align-items: center;

  justify-content: space-between;
  width: auto;
  height: 153.97px;
  position: inherit;
  margin-left: 301.93px;
  height: 101.41px;
  left:40%; 
  margin-bottom: 120px;


}
tr {
  display: flex;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-top: 30px; 
  
  flex-direction: row;
  flex-wrap: no-wrap;
  align-content: normal;
  justify-content: space-between;
  align-items: center;
}
.logos .clinicloud img, .logos .gipo img, .logos .jameda img, .logos .tuotempo img {
  transition: all .2s ease 0s;
  filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%) contrast(0);
  -webkit-filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%) contrast(0);
  opacity: .55;
}
.logos .tuotempo img:hover {
  transition: all .2s ease 0s;
  filter: saturate();
  opacity: 1;
}
.logos .jameda img:hover {
  transition: all .2s ease 0s;
  filter: saturate();
  opacity: 1;
}
.logos .gipo img:hover {
  transition: all .2s ease 0s;
  filter: saturate();
  opacity: 1;
} 
.logos .clinicloud img:hover {
  transition: all .2s ease 0s;
  filter: saturate();
  opacity: 1;
} 
div.stats__item{
  width: 287.5px;
  height: 250px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 5%);
  text-align: center;
  padding: 15px;
  font-size: .8125em;
  margin-left: -180px;
}
.stats{ 
  margin-left: 0px;
  margin-right: 0px;
  padding: 0 0 0 0;
  left:0px;
  
  background: #e5faf8;
  background-image: linear-gradient(-45deg,rgba(0,204,177,.01) 5%,rgba(61,199,223,.1));
  position: absolute; 
  width: 1350px ;
  height: 700px;
  background-image: url('https://salwa-essid.github.io/docplanner/logo.png');
  background-repeat: no-repeat;
  z-index: -100;
}

header.stats__header{
  margin-top: 50px;
  margin-left: 50px;
  width: fit-content;
  text-align: left;
  display: block;
  
}
*
.container1,.container2 {
  display: flex;
  flex-direction: row;
  justify-content:start;
  position: relative;
  gap: 250px;
margin-left: 900px;
top: 0;
margin-top: 0;
margin-left: 800  px;


}

.container1 {
 margin-top: 30px;
 position: absolute;
 margin-right: 170px;
}

.container2{
  margin-top: 300px;
  position: absolute;
  margin-right: 170px;
  
}
section.banner{
  display: inline;
  background-image: url('https://salwa-essid.github.io/docplanner/logo.png');
  background-repeat: no-repeat;
  z-index: -100;
  
 
}
div.stats__item{
  top:0;
  position:absolute;
}

div.grid{
  display: block;
  width: fit-content;
  height: fit-content;
}

.fourth{
  display: inline;
  justify-self:center;
  position: absolute;
  margin-top: 700px;
  text-align: center;z-index: -100;

}

section.fifth{

  grid-template-columns: auto auto auto auto;
  gap: 2px;
 
  

  margin-top: 800px;
  margin-right: 90px;
  margin-left: 90px;
  
}
.item1,.item2,.item3,.item4,.item5,.item6,.item7,.item8{width: fit-content;
  margin: 10px 0px;
}



img.office__image{
  height: 250px;
  width: 250px;
}
div.fifth{
  display: flex;
flex-direction: row;
flex-wrap: wrap;
 justify-content: space-evenly;
  width: 1fr;

  margin: 0 0 0 0;
  column-gap: 50px;
  row-gap: 50px;
}
/*div.row1{
  width: fit-content;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
justify-content: flex-start;
flex-direction: row; 
border-style: solid;
border-width: 0.1px;}
div.row2{
  width:10000;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  border-style: solid;
  border-width: 0.1px;
flex-wrap: wrap;}*/

  


  .sixth{
display: flex;
justify-content: center;
flex-direction: column;

    color: #000000;
  }
.btn-sm{
  align-self: center;
}

footer{ border-style: solid;
border-width: 0.1px;}